.pr-div{background-color: #ffff;  margin-top: 70px; padding-bottom: 40px;}
  .pr-heading{color: black; padding-top: 5px; padding-bottom: 20px;  padding-top: 10px;}
  span{margin-left: 100px;}
  .detail{border-bottom: 2px solid rgba(0, 0, 0, 0.1); padding: 10px;}